.main {
    width: 90vw;
    margin: auto;
    
}

.navBar {
    display: flex;
    border-bottom: 1px solid;
    margin: 8px;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.menuIcon{
    display: none;
}


.navBar > * {
    padding: 10px 20px;
}

/* .menuWrapper {
    display: block;
} */

.navLinks a:hover {
    border-bottom: 2px solid var(--Orange);
    padding-bottom: 23px;
}

.navLinks>*{
    margin: 15px 10px;
}

.profile {
    margin-left: auto;
    padding: 0;
}

.profile > *{
    margin: 3px 10px;
}

.navLinks, .profile{
    display: flex;
    align-items: center;
}

.profile > div {
    position: relative;
}

.profile > div > div {
    position: absolute;
    top: 35px;
    left: -110px;
    width: 240px;
    box-shadow: 0px 6px 10px 0px var(--Dark-grayish-blue);
    background-color: var(--White);
    height: 160px;
    border-radius: 5px;
}

.profile > div > div > p{
    border-bottom: 1px solid;
    padding: 8px 15px;
    font-weight: 700;
    color: var(--Black);
}

.cartItems{
    display: flex;
    justify-content: center;
    min-height: 70%;

}

.cartItems > p {
    align-self: center;
}


.productGrid  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 90%;
    margin: 70px auto;
}

.productImage > div{
    height: 80%;
    position: relative;
}

.productImage > div img{
    object-fit: cover;
}

.productImage{
    margin: auto;
    height: 100%;
    width: 90%;
    max-width: 340px;
}

.productImage * {
    border-radius: 5px;
}

.thumbnails {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.productDiscription{
    margin: 20px auto;
    padding: 10px;
    color: var(--Dark-grayish-blue);
    font-weight: 400;
}
.productDiscription >*{
    margin: 10px;
    padding: 5px;
}
.productDiscription h1{
    margin-top: 0px;
    color: var(--Black);
}
.productDiscription > p:first-child {
    margin-bottom: 0px;
}

.price p:first-child{
    font-weight: 700;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    color: var(--Very-dark-blue);
}

.price span {
    margin-left: 15px;
    padding: 2px 4px;
    background-color: var(--Very-dark-blue);
    color: var(--White);
    border-radius: 3px;
    font-weight: 400;
    font-size: 0.85rem;
}

.price p:last-child{
    text-decoration: line-through;
    margin-top: 10px;
    font-size: 0.95rem;
    font-weight: 700;
    color: var(--Dark-grayish-blue);
}

.btnContainer {
    display: flex;
}

.qtyBtns {
    background-color: var(--Grayish-blue);
    width: 30%;
    display: flex;
    padding: 3px;
    align-items: center;
    border-radius: 5px;
    justify-content: space-between;
    font-weight: 700;
}

.smallBtn {
    padding: 8px;
    background-color: var(--Grayish-blue);

}

.btnContainer > button:last-child{
    width: 65%;
    margin-left: auto;
    font-weight: 700;
    font-size: 1.05rem;
    background-color: var(--Orange);
    border-radius: 5px;
    padding: 10px 8px;
    color: var(--Black);
}

.reactCart {
    vertical-align: top;
    margin-right: 10px;
    color: var(--Black);
    font-size: 20px;
}

.toolKit {
    position: absolute;
    top: 40px;
    left: -50%;
    box-shadow: 1px 1px 5px 0px var(--Dark-grayish-blue);
    background-color: var(--White);
    padding: 5px 10px;
    border-radius: 4px;

}

.hidden {
    display: none;
}

.mobileViewHidden {
    display: block;
}

.xMark {
    display: none;
}

@media (min-width: 800px) and (max-width: 940px){
    .productGrid{
        margin: 50px auto;
    }

    .productDiscription >*{
        margin: 5px;
    }

    .price p:last-child{
        margin-top: 5px;
    }
}

@media (max-width: 800px) {
    .menuIcon {
        display: block;
        font-size: 30px;
        margin: 5px 10px;
        padding: 0;
    }
    .navBar{
        position: static;
        border-bottom: none;
        margin: 20px;
    }

    .menuWrapper {
        z-index: 1;
        position: absolute;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        background-color: var(--Black);

    }

    .navLinks{
        left: 0;
        position: inherit;
        padding: 10px 15px;
        height: 100%;
        background-color: var(--White);
        width: 40%;
        max-width: 250px;
        flex-direction: column;
        align-items: flex-start;
        font-weight: 700;
    }

    .navLinks>*{
        margin: 12px;
    }

    .navLinks a {
        color: var(--Black);
    }
    .productGrid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin: auto;
    gap: 5px;
    }

    .productImage{
    width: 100%;
    max-width: 100%;
    }

    .productImage > div {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    }

    .thumbnails {
    display: none;
    }

    .price  {
        display: flex;
        justify-content: space-between;
    }

    .btnContainer {
        flex-direction: column;
    }

    .qtyBtns{
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 8px 15px;
    }

    .btnContainer > button:last-child{
        width: 100%;
        padding: 15px 8px;
    }

    .xMark {
        margin-bottom: 10px;
        display: block;
    }

    .mobileViewHidden {
        display: none;
    }
}
